<!-- views/partials/footer.ejs -->
<p class="text-center">© Copyright 2019 All Random All Rank</p>


<p class="text-center">All Random All Rank was created under Riot Games' "Legal Jibber Jabber" policy using assets owned by Riot Games.  Riot Games does not endorse or sponsor this project.</p>