<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">HOME</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">

      <li class="navSearch">

        <script>
            function navSearch() {
                let name = document.getElementById('sumName').value;
                if(name != "") {
                  let lang = "<%= lang %>";
                  if(lang == "en")
                    window.location.href = '/player/'+name;
                  else
                    window.location.href = '/'+lang+'/player/'+name;
                }                
            }
        </script>

            <input type="text" id="sumName" placeholder="Search.." name="search">
            <button type="button" onclick="navSearch()" class="nav-search-button">GO</button>
        </li>
        <li id="about"><a href="../about">A PROPOS</a></li>
        <li id="contact"><a href="/contact">CONTACT</a></li>
        
        <li id="lang" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">EN</a></li>
            <li class="divider"></li>
            <li><a href="#">FR</a></li>




          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>