<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head'); %>
</head>
<body>
<%- include('./partials/myNavbar', {lang: lang}); %>

<div class="container">
    <div class="jumbotron">
        <h1><%= name %> n'a pas été trouvé :(</h1>
        <p>Le nom d'invocateur est erroné ou provient d'une autre région que EUW.</p>
    </div>
</div>

<%- include('./partials/myFooter', {lang: lang}); %>
</body>
</html>