<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head'); %>
</head>
<body>

<%- include('./partials/myNavbar', {lang: lang}); %>
<div class="container">
    <div class="jumbotron">
        <h1>A propos...</h1>
        <p>Ce site offre un service de classement officieux en ARAM, grâce à l'API de Riot.</p>
        <p>Les règles régissant les ligues et les gains/pertes de lp (points de league) ont été conçues spécifiquement pour ce site et son basées sur différents critères, sérieux ou non. Le système de classement suivra les saisons de League of Legends.</p>
        <p>Mise en ligne en août 2019.</p>
    </div>
</div>


<%- include('./partials/myFooter', {lang: lang}); %>

</body>
</html>