<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head'); %>
</head>
<body>

<%- include('./partials/myNavbar'); %>
<div class="container">
    <div class="jumbotron">
        <h1>Contact</h1>
        <p>Pour toute demande/remarque/suggestion, vous pouvez me contacter par email.</p>
        <a href = "mailto:all.random.all.rank@gmail.com?subject=Le%20 Couscous&body=J'aime%20le%20couscous.">
            all.random.all.rank@gmail.com
        </a>
    </div>
</div>


<%- include('./partials/myFooter'); %>

</body>
</html>