<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head'); %>
</head>
<body>

<%- include('./partials/myNavbar', {lang: lang}); %>
<div class="container">
  <div class="jumbotron">
    <h1>ALL RANDOM ALL RANK!</h1>
    <script type="text/javascript">
      function search() {
        let name = document.getElementById('name').value;
        let lang = "<%= lang %>";
        if(lang == "en") 
          window.location.href = '/player/'+name;
        else
          window.location.href = '/'+lang+'/player/'+name;
      }
    </script>

    <p>Entrez votre joli petit nom <input type="text" placeholder="Pseudo" id="name"><button style="color:black" onclick="search()">GO</button></p>
  </div>
</div>


<%- include('./partials/myFooter', {lang: lang}); %>

</body>
</html>