<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head'); %>
</head>
<body>

<%- include('./partials/myNavbar'); %>
<div class="container">
  <div class="jumbotron">
    <h1>ALL RANDOM ALL RANK!</h1>
    <script type="text/javascript">
      function search() {
        let name = document.getElementById('name').value;
        if(name == "")
          return;

        let lang = "<%= lang %>";
        if(lang == "en") 
          window.location.href = '/player/'+name;
        else
          window.location.href = '/'+lang+'/player/'+name;
      }
    </script>

    <p>Entrez votre joli petit nom <input type="text" placeholder="Pseudo" id="name"><button style="color:black" id="indexGo" onclick="search()">GO</button></p>
        <script type="text/javascript">
      var indexInput = document.getElementById("name");
      indexInput.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
       event.preventDefault();
       document.getElementById("indexGo").click();
      }
    });</script>
  </div>
</div>


<%- include('./partials/myFooter'); %>

</body>
</html>