<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head'); %>
</head>
<body>
  <a href="ladder">
         <img alt="waf" src="img/pico.jpg"
         width="1154" height="866">
  </a>
</body>
</html>