.navbar-nav .nav-item:last-child {
   border-left: 1px solid silver;
   margin-left: 10px;
   padding-left: 10px
}

@media (max-width: 768px) {
  .navbar-nav .nav-item:last-child {
    border-left: none;
  }
}
.navbar    { margin-bottom: 10px; }
.selectpicker  { padding-top:10px; }
.nav-search-button { color:black; }

.league-big-images-layout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 16px;  
}

.league-big-image {
  width: 320px;
}

.image-auto-resize {
  max-width: 100%;
  max-height: 100%;
}

.league-captions {
  display:  flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 16px;
}

.player-header {
  display: flex;
  align-items: end;
}

.player-header--rank-icon {
  width: 120px;
  margin-left: auto;
}

.player-header--summoner-icon {
  width: 80px;
  height: 80px;
  margin-right: 12px;
}

body {
  padding-top: 80px;
}