<meta 
  charset="UTF-8"
  name="Ranked ARAM"
  content="<%= __('meta_content') %>"
>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Ranked ARAM</title>
<script type="text/javascript">console.log('Don\'t forget to feed the poros!');</script>

<!-- CSS -->
<!-- load bootstrap and our own personal stylesheet -->
<link href="//maxcdn.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q2MRE9M85T"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q2MRE9M85T');
</script>
