.navbar-nav .nav-item:last-child {
   border-left: 1px solid silver;
   margin-left: 10px;
   padding-left: 10px;
}

@media (max-width: 991px) {
  .navbar-nav .nav-item:last-child {
    border-left: none;
  }
}
.navbar    { margin-bottom: 10px; }
.selectpicker  { padding-top:10px; }
.nav-search-button { color:black; }

.league-description {
  margin-bottom: 2rem;
}

.league-big-images-layout {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin-bottom: 16px;  
  height: 300px;
}
@media (max-width: 991px) {
  .league-big-images-layout {
    height: 20vh;
  }
}

.league-big-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 100%;
}

.league-big-image-caption {
  display: inline;
  margin: 2rem auto 0;
  text-align: center;
}

.image-auto-resize {
  max-width: 100%;
  max-height: 80%;
}

.player-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
}

.player-header-name__icon-and-name {
  display: flex;
  align-items: baseline;
}

@media (max-width: 767px) {
  .player-header-name__icon-and-name {
    font-size: 30px;
  } 
}

.player-header__rank-icon {
  max-width: 20%;
  max-height: 100%;
}

.player-header--summoner-icon {
  width: 80px;
  height: 80px;
  margin-right: 12px;
}

.full-game-tag-input {
  position: relative;
}

.full-game-tag-input__separator {
  color: #7b8a8b;
  display: none;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.full-game-tag-input__input--index {
  margin-right: 2px;
  width: 240px;
}

.full-game-tag-input__input--ladder {
  margin-right: 2px;
}

body {
  padding-top: 80px;
}