<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head'); %>
</head>
<body>
<%- include('./partials/myNavbar'); %>

<div class="container">
    <div class="jumbotron">
        <h1>oooops</h1>
        <p>Something went wrong, sorry about that...</p>
    </div>
</div>

<%- include('./partials/myFooter'); %>
</body>
</html>